.tabs{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
}

.tab{
  cursor: pointer;
  background-color: white;
  color: #4A4A4A;
  line-height: 50px;
  text-transform: uppercase;
  border: 1px solid #DFE5EC;
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  width: 33%;
  &:hover{
    background-color: #F1FCFF;
  }
  &:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.selected{
  cursor: default;
  background-color: #2196F3;
  color: white;
  &:hover{
    background-color: #2196F3;
  }
}